<!DOCTYPE html>
<html>

<head>
    <title>
        Classificador de Performance
    </title>
    <style>
        body {
            text-align: center;
        }

        button {
            color: aliceblue;
            background-color: blue;
        }
    </style>
</head>

<body>
    <h1>Classificador de Performance</h1>
    <div>
        <form method="post" action="/predict">
            <textarea rows="12" cols="60" name="content" placeholder="Enter JSON here"
                autocomplete="off">{{ json_data }}</textarea>
            <div>
                <button type="submit">
                    Button
                </button>
                <a href="/">Reset</a>
            </div>
        </form>

    </div>

    <div>
        <p>{{ prediction }}</p>
    </div>
</body>

</html>