<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inserir Dados</title>
</head>
<body>
    <h1>Input Values</h1>
    <form method="POST" action="/input">
            <label for="class">Class:</label>
            <input type="text" id="class" name="class"><br><br>

            <label for="question">Question:</label>
            <input type="text" id="question" name="question"><br><br>

            <label for="correct">Correct:</label>
            <input type="text" id="correct" name="correct"><br><br>

            <label for="time">Time:</label>
            <input type="text" id="time" name="time"><br><br>

            <input type="submit" value="Submit">
    </form>

</body>
</html>